

/* .navbar{
  display: flex;
  
} */

.display-flex{
  display: flex;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500px;
}

.navbar{
  justify-content: space-between;
}

.my-button{
  background-color: blueviolet;
  padding: 10px 24px

}

.next-button{
  color: aliceblue;
  background-color: tomato;
  padding: 15px 15px;
  font-weight: 800;
  font-size: 15px;
  margin: 15px auto; 
  border-radius: 8px 10px;
}
.get-hired{
   font-size: 31px;
}
.violet{
  color: blueviolet;
}

.orange{
  color:orange;
}

.center{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

/* card related style */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #9999;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* end */

.all-button{
  text-align: center;
}

.top, .bottom{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  
}

.upper{
 
  text-align:center;
 
  flex-direction: column;
 
  justify-content: flex-start;
}
